{% extends 'base.html' %}
{% block content %}

    <h2 style="text-align: center">{{input_search | title}}</h2>
    <div class="row">
        {% for list in final_listing %}
            <div class="col s4">
                <div class="card" style="height: 400px; overflow: hidden">
                    <div class="card-image" style="height: 250px; overflow: hidden">
                        <a href={{list.1}}><img src= {{list.4}} alt=""></a>
                    </div>
                    <div class="card-content" style="height: 100px; overflow: hidden">
                            <p>{{list.0}}</p>
                    </div>
                    <div class="card-action" style="width:100%; text-align:center;">
                        <span style="float:left; width: 100px">{{list.2}}</span>
                        <span style="display: inline-block; margin:0 auto; width: 100px"><a href={{list.1}}>View</a></span>
                        <span style="float:right; width: 100px"">{{list.3}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}